<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oz.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.oz.main.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oz.main.activity.WelcomeActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.oz.enroll.service.HandlerNetworkService"
            android:permission="android.permission.INTERNET" >
            <intent-filter>
                <action android:name="action.enroll.fragment.AddStudentInfoFragment" />
                <action android:name="action.enroll.fragment.InAddDefFragment" />
                <action android:name="action.enroll.fragment.InAddFragment" />
                <action android:name="action.enroll.fragment.InAddOtherFragment" />
                <action android:name="action.enroll.fragment.OutAddFragment" />
                <action android:name="action.enroll.fragment.StudentInfoFragment" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.oz.enroll.receiver.CoreReceiver"
            android:permission="android.permission.INTERNET" >
            <intent-filter>
                <action android:name="action.enroll.fragment.AddStudentInfoFragment" />
                <action android:name="action.enroll.fragment.InAddDefFragment" />
                <action android:name="action.enroll.fragment.InAddFragment" />
                <action android:name="action.enroll.fragment.InAddOtherFragment" />
                <action android:name="action.enroll.fragment.OutAddFragment" />
                <action android:name="action.enroll.fragment.StudentInfoFragment" />
            </intent-filter>
        </receiver>
    </application>

</manifest>